In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('Book1.csv')
print(data1)

   A  B  C
0  1  2  3
1  4  5  1
2  8  7  3

In [3]:
data2 = pd.read_csv('Book2.csv')
print(data2)

       A  B  C  D
0   rice  1  2  3
1   peas  4  9  2
2  wheat  7  2  8

In [11]:
x2 = pd.Series(data2['B'])
y2 = pd.Series(data2['C'])
data3 = pd.concat([x2,y2],axis=1)

In [12]:
data3

   B  C
0  1  2
1  4  9
2  7  2

In [14]:
x1 = pd.Series(data1['B'])
y1 = pd.Series(data1['C'])
data4 = pd.concat([x1,y1],axis=1)

In [39]:
data4

   B  C
0  2  3
1  5  1
2  7  3

In [25]:
from scipy.stats import pearsonr
pearson_coeff,pvalue = pearsonr(data4['C'],data3['C'])
pvalue

0.0

In [36]:
diff_temp =[]
diff_hum=[]
for i in range(3):
    diff_temp.append(data3['B'][i]-data4['B'][i])
    diff_hum.append(data3['C'][i]-data4['C'][i])
    
print(diff_hum)
print(diff_temp)

[0, 0, 0]
[0, 0, 0]

In [45]:
print(data4.compare(data3,align_axis='columns'))

Empty DataFrame
Columns: []
Index: []